html, body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Bold.woff2") format("woff2");
    font-weight: bold;
}
body {
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
}
.content-flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    right: 15px;
    bottom: 17px;
    left: 20px;
}
.photo-container {
    width: 80%;
    overflow: hidden;
}
#photo {
    width: 100%;
    object-fit: contain;
}
.photo-container-bg {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    background-size: cover;
    background-position: 50%;
    z-index: -1;
    filter: blur(10px);
}
@keyframes kenburns {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.kenburns-animate {
    animation: kenburns 20s ease-in-out forwards;
    transform-origin: center center;
}
.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 20px;
    gap: 20px;
}

#date-clock {
    display: flex;
    align-items: center;
    font-size: 16px;
}
#date-clock > div {
    width: 50%;
}
.split-flap-clock {
    display: flex;
    align-items: center;
    gap: 2.5px;
    font-family: "Oswald";
    font-weight: bold;
}
.digit {
    position: relative;
    width: 50px;
    height: 30px;
    perspective: 200px; /* Adds 3D effect */
    flex-grow: 1;
}
.digit::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    z-index: 999;
}
.half {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #222, #000);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    border-radius: 5px;
    backface-visibility: hidden;
}
.top {
    top: 0;
    z-index: 2;
    transform-origin: bottom;
}
.bottom {
    top: 0;
    transform: rotateX(180deg);
    z-index: 1;
}
.new-top {
    top: 0;
    z-index: 3;
    opacity: 0;
}
.flip-top {
    animation: flipTop 0.3s ease-in-out forwards;
}
@keyframes flipTop {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-90deg); }
}
.flip-bottom {
    animation: flipBottom 0.3s ease-in-out forwards;
}
@keyframes flipBottom {
    0% { transform: rotateX(90deg); opacity: 0; }
    100% { transform: rotateX(0deg); opacity: 1; }
}
#colon {
    position: relative;
    top: -3px;
}

#theme-schedule {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#theme-schedule > div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
#current-theme-name, #next-theme-name {
    font-weight: bold;
}

#map {
    aspect-ratio: 1;
    border-radius: 5px;
    flex-grow: 1;
}
.leaflet-popup-content {
    text-align: center;
    font-size: 16px !important;
    font-family: Ubuntu;
    margin: 5px !important;
}

#weather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}
#forecast-container {
    position: relative;
    display: flex;
}
.forecast {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
	font-size: 16px;
}
#forecast-container i {
    font-size: 24px;
    margin: 5px 0;
    display: block;
}
.bi.bi-thermometer {
    font-size: 30px;
}
#weather-temp {
    font-size: 30px;
}
#weather-credit {
    position: absolute;
    right: -25px;
    font-size: 10px;
	rotate: 90deg;
}
.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.messages {
    position: fixed;
    top: 0;
    width: 100%;
    background: purple;
    color: white;
    padding: 0 15px;
}
.muted {
    opacity: 0.5;
}
